# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/blas-1.0-mkl.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ca-certificates-2025.2.25-h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libgfortran-ng-7.3.0-hdf63c60_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/intel-openmp-2021.4.0-h06a4308_3561.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.40-h12ee557_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-9.1.0-hdf63c60_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libgomp-11.2.0-h1234567_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/_openmp_mutex-5.1-1_gnu.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.3-he6710b0_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl-2021.4.0-h06a4308_640.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.3-h7f8727e_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/openssl-1.1.1w-h7f8727e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.2.5-h7f8727e_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.12-h7f8727e_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.1.2-h7f8727e_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.12-h1ccaba5_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.38.5-hc218d9a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-3.8.13-h12debd9_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/joblib-1.4.2-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/nvidia-ml-py-12.535.133-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/packaging-24.1-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/psutil-5.8.0-py38h27cfd23_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pytz-2024.1-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-75.1.0-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/threadpoolctl-3.5.0-py38h2f386ee_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/wheel-0.44.0-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/blessed-1.20.0-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl-service-2.4.0-py38h7f8727e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-24.2-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-dateutil-2.9.0post0-py38h06a4308_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/gpustat-1.1.1-py38h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/bottleneck-1.3.4-py38hce1f21e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl_fft-1.3.1-py38hd3c417c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl_random-1.2.2-py38h51133e4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/numexpr-2.8.1-py38h6abb31d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/numpy-1.22.3-py38he7a7128_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/numpy-base-1.22.3-py38hf524024_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pandas-1.4.2-py38h295c915_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/scipy-1.6.2-py38had2a1c9_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/scikit-learn-1.0.2-py38h51133e4_1.tar.bz2
